* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.head {
  font-family: 'Montserrat', sans-serif;
  font-size: 86px;
  font-weight: 900;
  left: 0;
  right: 0;
  margin-top: 18vh;
  position: fixed;
  text-align: center;
  color: #292929;
  -webkit-text-fill-color: #292929;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #292929;
  z-index: 20;
}

.slogan{
  font-family: 'Roboto', sans-serif;
  font-size: 27px;
  font-weight: 200;
  letter-spacing: 7px;
  word-spacing: 2px;
  left: 0;
  right: 0;
  margin-top: 36vh;
  position: fixed;
  text-align: center;
  color: #4688f1;
  z-index: 20;

}

.google-signin {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58vh;
  width: 382px;
  height: 92px;
  z-index: 20;
  background: #fff;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-image: url('./images/google-btn.png');
  background-position: center;
  background-size: cover;
  transform: scale(.5);
  transition: .4s;
}

.facebook-signin {
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 57vh;
  width: 382px;
  height: 92px;
  z-index: 20;
  background: #000;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  background-position: center;
  background-size: cover;
  transform: scale(.5);
  transition: .4s;
}


.navigation {
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #424141;
  border-left: none;
  border-top: none;
  border-right: none;
  border-width: 1px;
  z-index: 30;
}

.logo {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 900;
  margin-left: 10px;
  position: relative;
  float: left;
  color: #292929;
  -webkit-text-fill-color: #292929;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #292929;
}

.rainbow {
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 7px;
  background-image: url('https://i.pinimg.com/236x/73/52/ce/7352ce2eaaaa18f142a08ea57261cb34--visual-identity-unicorn.jpg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: .5s;
}

.pick {
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  transition: .5s;
}

.stroke-Box{
  position: relative;
  float: left;
  width: 151px;
  height: 35px;
  border: 1px solid #dedede;
  border-radius: 27px;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  font-size: 12px;
  padding-top: 10px;
  padding-left: 10px;
  color: #4688f1;
}

.strokePicker{
  position: absolute;
width: 247px;
height: 262px;
border-radius: 4px;
z-index: 100;
top: 53px;
left: 277px;
background: #fff;
box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px, rgba(0, 0, 0, 0.15) 0px 8px 16px;
}
ul{
  width: 100%;
  height: 100%;
}

li{
  display: block;
width: 100%;
position: relative;
height: 25%;
border: 1px solid #dedede;
color:#7b7b7b;
border-top: none;
border-left: none;
border-right: none;
font-weight: 100;
padding-top: 22px;
padding-left: 13px;
font-family: 'Roboto', sans-serif;
cursor: pointer;
transition: .5s;
}
li:hover{
  color: #4688f1;
}

.grid-btn {
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  transition: .5s;

}

.undo {
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  transition: .5s;
}

#undo {
  position: absolute;
left: 3px;
top: 4px;
}

#redo {
  position: absolute;
left: 5px;
top: 4px;
}

.redo {
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  transition: .5s;
}

.delete, .save, .archive, .download {
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  transition: .5s;
}

#trash{
  position: absolute;
  left: 4px;
  top: 4px;
  transform: scale(0.9);
}

#save{
  position: absolute;
  left: 4px;
  top: 4px;
  transform: scale(0.9);
}

#download{
  position: absolute;
  left: 4px;
  top: 4px;
  transform: scale(0.9);
}

#archive{
  position: absolute;
  left: 4px;
  top: 4px;
}

#dropdown{
  position: absolute;
  left:120px;
  top: 5px;
  transform: scale(0.9);
}

#grid-btn{
  position: absolute;
  left: 4px;
  top: 4px;
  transform: scale(0.9);
}

.profile {
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  /*border: 1px solid #292929;*/
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 7px;
  cursor: pointer;
  transition: .5s;
}

.profile img {
  border-radius: 50%;
  max-width: 100%;
}

.logout {
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  margin-right: 10px;
  margin-top: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: .4s;
}

.setting{
  position: relative;
  float: right;
  width: 35px;
  height: 35px;
  border: 1px solid #292929;
  margin-right: 10px;
  margin-top: 7px;
  border-radius: 50%;
  cursor: pointer;
  transition: .4s;
}

#setting-logo{
  position: absolute;
  left: 5px;
  top: 4px;
  transform: scale(0.9);
}

#logout{
  position: absolute;
  left: 6px;
  top: 4px;
  transform: scale(0.9);
}

.sheet {
  position: absolute;
  z-index: 10;
  top: 50px;
  width: 100%;
  height: 100vh;
  cursor: cell;
}

.grid {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100vh;
}

.sketch-picker {
  position: absolute;
  top: 53px;
  left: 225px;
  font-family: 'Montserrat', sans-serif;
  z-index: 100;
}

.setting-box,.archive-box{
  position: fixed;
  z-index: 20;
  border-left: 1px solid #000;
  left:100%;
  width: 30%;
  height: 100vh;
  background: #fff;
  padding-top: 56px;
  padding-left: 11px;
  font-family: 'Montserrat', sans-serif;
  transition: .5s;
}

.openSetting, .openArchive{
  left: 70%;
}

.setting-header,.archive-header{
  font-weight: 800;
  font-size: 41px;
  letter-spacing: 1px;
  color: #292929;
}



#downloader{
  color: #000;
}
