*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



.navigation{
  position: absolute;
  width: 100%;
  height: 50px;
  background: #fff;
  border: 1px solid #000;
  border-left: none;
  border-top: none;
  border-right: none;
  border-width: 1px;
  z-index: 30;
}

.logo{
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight:900;
  margin-left: 10px;
  position: relative;
  float: left;
}

.rainbow{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: 7px;
  background-image: url('https://i.pinimg.com/236x/73/52/ce/7352ce2eaaaa18f142a08ea57261cb34--visual-identity-unicorn.jpg');
  background-position: center;
  background-size: cover;
  cursor: pointer;
  transition: .5s;
}


.pick{
  position: relative;
  float: left;
  width: 35px;
  height: 35px;
  border: 1px solid #000;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 7px;
  cursor: pointer;
  transition: .5s;
}

.sheet{
  position: absolute;
  z-index: 1;
  top:50px;
  width: 100%;
  height: 100vh;
  cursor: cell;
}

.sketch-picker{
  position: absolute;
  top: 53px;
  left:225px;
  font-family: 'Montserrat', sans-serif;
  z-index: 100;
}
